@use "../variables.scss" as *;

.EmptySearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, $color-1, $color-2);

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50%;
        width: 50%;
        text-align: center;

        .title {
            font-size: 1.5rem;
            font-weight: 500;
            color: $font-color;
            animation: lights 5s 750ms linear infinite;
        }
    }
}

@keyframes lights {
    0% {
        color: hsl(230, 40%, 80%);
        text-shadow:
            0 0 1em rgba($color-5, 0.2),
            0 0 0.125em rgba($color-5, 0.3),
            -1em -0.125em 0.5em rgba(255, 187, 51, 0),
            1em 0.125em 0.5em rgba(51, 187, 255, 0);
    }

    30% {
        color: hsl(230, 80%, 90%);
        text-shadow:
            0 0 1em rgba($color-5, 0.5),
            0 0 0.125em rgba($color-5, 0.5),
            -0.5em -0.125em 0.25em rgba(255, 187, 51, 0.2),
            0.5em 0.125em 0.25em rgba(51, 187, 255, 0.4);
    }

    40% {
        color: hsl(230, 100%, 95%);
        text-shadow:
            0 0 1em rgba($color-5, 0.5),
            0 0 0.125em rgba(255, 204, 238, 0.5),
            -0.25em -0.125em 0.125em rgba(255, 187, 51, 0.2),
            0.25em 0.125em 0.125em rgba(51, 187, 255, 0.4);
    }

    70% {
        color: hsl(230, 80%, 90%);
        text-shadow:
            0 0 1em rgba($color-5, 0.5),
            0 0 0.125em rgba($color-5, 0.5),
            0.5em -0.125em 0.25em rgba(255, 187, 51, 0.2),
            -0.5em 0.125em 0.25em rgba(51, 187, 255, 0.4);
    }

    100% {
        color: hsl(230, 40%, 80%);
        text-shadow:
            0 0 1em rgba($color-5, 0.2),
            0 0 0.125em rgba($color-5, 0.3),
            1em -0.125em 0.5em rgba(255, 187, 51, 0),
            -1em 0.125em 0.5em rgba(51, 187, 255, 0);
    }
}