@font-face {
    font-family: 'Mars';
    src: local('Mars'), url('../assets/fonts/Mars/Mars.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'Mars', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
