$color-1: #211F20;
$color-2: #383838;
$color-3: #60605E;
$color-4: #737373;
$color-5: #EF6824;
$color-6: #191919;

$font-color: $color-3;

$background-color: $color-1;
$background-color-2: $color-2;
$background-color-3: $color-5;
$background-color-4: $color-4;
$background-color-5: $color-3;
$background-color-navbar: $color-5;
$background-color-footer: $color-2;

$shadow-color: rgba($color-6, 0.4);
$shadow-color-hover: rgba($color-5, 0.6);
