$color-1: #211F20;
$color-2: #383838;
$color-3: #60605E;
$color-4: #737373;
$color-5: #EF6824;
$color-6: #191919;

$font-color: #fefefe;

$background-color-navbar: $color-5;
$search-input-color: transparent;
$search-input-text-color: $font-color;

$background-color-footer: $color-2;

$shadow-color: rgba($color-6, 0.4);
$shadow-color-hover: rgba($color-5, 0.6);
